<include locals='{"items": [
                {
                    "itemName": "Печь Merrychef e3 1000w",
                    "itemImg": "product-1",
                    "itemArticul": "C72358FW27",
                    "itemAvailability": "В наличии",
                    "itemAvailabilityStatus": "success",
                    "labelClass": "danger",
                    "labelText": "Хит",
                    "price": 0,
                    "oldPrice": 0
                },
                {
                    "itemName": "Фризер TAYLOR C712",
                    "itemImg": "product-2",
                    "itemArticul": "C72358FW27",
                    "itemAvailability": "Под заказ",
                    "itemAvailabilityStatus": "danger",
                    "labelClass": "success",
                    "labelText": "Акция",
                    "price": "190 000",
                    "oldPrice": "230 000"
                },
                {
                    "itemName": "Фризер TAYLOR C712",
                    "itemImg": "product-2",
                    "itemArticul": "C72358FW27",
                    "itemAvailability": "В наличии",
                    "itemAvailabilityStatus": "success",
                    "labelClass": "success",
                    "labelText": "Акция",
                    "price": "190 000",
                    "oldPrice": "230 000"
                },
                {
                    "itemName": "Гриль TAYLOR C818 элект.",
                    "itemImg": "product-3",
                    "itemArticul": "C72358FW27",
                    "itemAvailability": "Под заказ",
                    "itemAvailabilityStatus": "danger",
                    "labelClass": "info",
                    "labelText": "Новинка",
                    "price": "190 000",
                    "oldPrice": 0
                },
                {
                    "itemName": "Печь Merrychef e3 1000w",
                    "itemImg": "product-1",
                    "itemArticul": "C72358FW27",
                    "itemAvailability": "В наличии",
                    "itemAvailabilityStatus": "success",
                    "labelClass": "danger",
                    "labelText": "Хит",
                    "price": 0,
                    "oldPrice": 0
                },
                {
                    "itemName": "Фризер TAYLOR C712",
                    "itemImg": "product-2",
                    "itemArticul": "C72358FW27",
                    "itemAvailability": "Под заказ",
                    "itemAvailabilityStatus": "danger",
                    "labelClass": "success",
                    "labelText": "Акция",
                    "price": "190 000",
                    "oldPrice": "230 000"
                },
                {
                    "itemName": "Фризер TAYLOR C712",
                    "itemImg": "product-2",
                    "itemArticul": "C72358FW27",
                    "itemAvailability": "В наличии",
                    "itemAvailabilityStatus": "success",
                    "labelClass": "success",
                    "labelText": "Акция",
                    "price": "190 000",
                    "oldPrice": "230 000"
                },
                {
                    "itemName": "Гриль TAYLOR C818 элект.",
                    "itemImg": "product-3",
                    "itemArticul": "C72358FW27",
                    "itemAvailability": "Под заказ",
                    "itemAvailabilityStatus": "danger",
                    "labelClass": "info",
                    "labelText": "Новинка",
                    "price": "190 000",
                    "oldPrice": 0
                },
                {
                    "itemName": "Печь Merrychef e3 1000w",
                    "itemImg": "product-1",
                    "itemArticul": "C72358FW27",
                    "itemAvailability": "В наличии",
                    "itemAvailabilityStatus": "success",
                    "labelClass": "danger",
                    "labelText": "Хит",
                    "price": 0,
                    "oldPrice": 0
                },
                {
                    "itemName": "Фризер TAYLOR C712",
                    "itemImg": "product-2",
                    "itemArticul": "C72358FW27",
                    "itemAvailability": "Под заказ",
                    "itemAvailabilityStatus": "danger",
                    "labelClass": "success",
                    "labelText": "Акция",
                    "price": "190 000",
                    "oldPrice": "230 000"
                },
                {
                    "itemName": "Фризер TAYLOR C712",
                    "itemImg": "product-2",
                    "itemArticul": "C72358FW27",
                    "itemAvailability": "В наличии",
                    "itemAvailabilityStatus": "success",
                    "labelClass": "success",
                    "labelText": "Акция",
                    "price": "190 000",
                    "oldPrice": "230 000"
                },
                {
                    "itemName": "Гриль TAYLOR C818 элект.",
                    "itemImg": "product-3",
                    "itemArticul": "C72358FW27",
                    "itemAvailability": "Под заказ",
                    "itemAvailabilityStatus": "danger",
                    "labelClass": "info",
                    "labelText": "Новинка",
                    "price": "190 000",
                    "oldPrice": 0
                }
            ]}' src="src/templates/productCardLoop.html"></include>