<div class="container">

    <div class="sponsor__wrapp">

        <h1 class="heroes__title">
            Айнур Ильясова
        </h1>
        <h2 class="sponsor__subtitle">
            Актриса, учредитель ОФ
            «Фонд Модернизации института и брака «Бопе»
        </h2>

        <img src="/img/ai.jpeg" alt="">

        <div class="sponsor__footer">
            <a class="btn btn__primary" href="https://www.instagram.com/ainur_ilyasova/">instagram</a>
        </div>


        <h1 class="heroes__title">
            Баурджан Бисмильдин
        </h1>
        <h2 class="sponsor__subtitle">
            Бауыржан Бисмильдин - Фотограф
        </h2>

        <img src="/img/bb.jpg" alt="">

        <div class="sponsor__footer">
            <a class="btn btn__primary" href="https://www.instagram.com/bismildin">instagram</a>
        </div>





        <h1 class="heroes__title">
            Ваня Абрамов
        </h1>
        <h2 class="sponsor__subtitle">
            Видеограф
        </h2>

        <img src="/img/va.jpg" alt="">

        <div class="sponsor__footer">
            <a class="btn btn__primary" href="https://vimeo.com/abrvanya">instagram</a>
        </div>



        <h1 class="heroes__title">
            Оксана ВАСИЛЕНКО
        </h1>
        <h2 class="sponsor__subtitle">
            Журналист
        </h2>

        <img src="/img/ov.png" alt="">

        <div class="sponsor__footer">
            <div class="btn btn__primary">instagram</div>
        </div>


        <h1 class="heroes__title">
            Анна Алтухова
        </h1>
        <h2 class="sponsor__subtitle">
            координатор
        </h2>

        <img src="/img/aa.jpeg" alt="">

        <div class="sponsor__footer">
            <div class="btn btn__primary">instagram</div>
        </div>



    </div>
    <div class="container">

        <div class="row mt-5 mb-5">


            <div class="col-lg-12">
                <h2 class="headlines__big">Заявление об авторских правах</h2>
                <div class="block-wrapp block-wrapp--line">

                    <div class="block-content block-content--line">


                        <p>
                            Все фото и видео, представленные на фотовыставке «Женщины на передовой в борьбе с COVID-19»
                            принадлежат организаторам.
                            © Любое несогласованное использование, распространение или коммерческое использование фото и
                            видео или их частей в любой форме запрещено без предварительного письменного согласия
                            правообладателей.
                            Если вы хотели бы использовать материалы выставки, обратитесь к организаторам.
                            Право окончательной интерпретации данного заявления в рамках казахстанского законодательства
                            принадлежит организаторам.

                        </p>
                    </div>

                </div>

            </div>

        </div>




        <div class="row mt-5 mb-5">


            <div class="col-lg-12">
                <h2 class="headlines__big">Контакты</h2>
                <div class="block-wrapp block-wrapp--contact">

                    <div class="block-content block-content--line">

                        <p> Дина Тельтаева, Специалист ЮНФПА по связям с общественностью</p>

                        <ul>
                            <li class="contact"><img src="/img/phone.svg" alt=""><a href="">Tel: +7 701 765 4010</a>
                            </li>
                            <li class="mail"><img src="/img/mail.svg" alt=""><a href="">registry-kazakhstan@unfpa.org
                                </a></li>

                        </ul>
                        

                        <p> Cоциальные сети: </p>
                        <div class="social__wrapp">
                            <a class="social__item" href="https://kazakhstan.unfpa.org/"> <img src="/img/internet.svg" alt="">Вебсайт</a>
                            <a class="social__item" href="https://www.instagram.com/unfpakaz/"> <img src="/img/instagram.svg" alt="">Инстаграм</a>
                            <a class="social__item" href="https://twitter.com/UNFPAKAZ?s=09"> <img src="/img/twitter.svg" alt="">Твиттер</a>
                            <a class="social__item" href="https://www.facebook.com/UnfpaInKazakhstan"> <img src="/img/face.svg" alt="">Фэйсбук</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>







    </div>

</div>